<% provide(:title, @team.team_name) %>
<h1>
  <div class="span8">
	<ul class="teams">
	  	<% @team.user2s.each do |user| %>
	    <li>
	      <%= user.name %>
	    </li>
	  <% end %>
	</ul>
  </div>
</h1>