<% provide(:title, 'About Me') %>
<h1>About Me</h1>
<p>
  Hi! My name is Gagan Gupta, and I am a freshman in the Jerome
  Fisher Program in Management and Technology at the University of Pennsylvania. I am studying both computer science and business. This project was created as part of an interview for IFTTT.
</p>