<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  I hoped to make this easy to understand, but here are basic instructions on how to use this app: <br> <br>
  The home page of this app displays all teams and their associated members. 
  <br> To <b> add a member, </b>click the "Add Member" button on the home page. <br>
  To <b> delete a member, </b>click the "Members" button on the navigation bar at the top right, and then click delete on the team member you would like to remove. <br>
  To <b> add a team, </b>click the "Add Team" button on the home page. <br>
  To <b> delete a team, </b>click the "Teams" button on the navigation bar at the top right, and then click delete on the team you would like to remove. <br>
  To <b> add a member to a team, </b> click on the team first, and then click on the "Add Member to Team" button under the list of current members on the team. Then, select the member you would like to add. <br> 
  To <b> remove a member from a team, </b>
</p>
