<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  I hoped to make this easy to understand, but here are basic instructions on how to use this app: <br> <br>
  The home page of this app displays all teams and their associated members. 
  <br> To add a member, click the "Add Member" button on the home page. <br>
  To add a team, click the "Add Team" button on the home page. <br>
</p>
