<div class="center hero-unit">
  <h1>Welcome to the 1+1 Assigner</h1>

  <h2>
    This is the home page for the 1+1 assignment for Gagan Gupta.
  </h2>

  <%= link_to "Add Member", signup_path, class: "btn btn-large btn-primary" %>
  <br>List of teams and members will be here, along with edit functionality. <br>
  
  <br><br>
  <h3> Current Members: </h3>
  <ul>
    
    </ul>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>