<% provide(:title, @user2.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <center> <%= gravatar_for @user2 %></center> <br>
        <%= @user2.name %>
      </h1>
    </section>
  </aside>
  
  <br>
</div>