<% provide(:title, @user2.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user2 %>
        <%= @user2.name %>
      </h1>
    </section>
  </aside>
</div>